#
# MMC subsystem configuration
#

menuconfig MMC
	tristate "MMC/SD/SDIO card support"
	depends on HAS_IOMEM
	help
	  This selects MultiMediaCard, Secure Digital and Secure
	  Digital I/O support.

	  If you want MMC/SD/SDIO support, you should say Y here and
	  also to your specific host controller driver.

config MMC_DEBUG
	bool "MMC debugging"
	depends on MMC != n
	help
	  This is an option for use by developers; most people should
	  say N here.  This enables MMC core and driver debugging.

config MMC_PERF_PROFILING
	bool "MMC performance profiling"
	depends on MMC != n
	default n
	help
	  If you say Y here, support will be added for collecting
	  performance numbers at the MMC Queue and Host layers.

config MMC_CUST_SH
	bool "SHARP MMC driver customized"
	depends on MMC
	default n

config MMC_EMMC_CUST_SH
	bool "SHARP eMMC driver customized"
	depends on MMC_CUST_SH
	default n

config DRIVESTRENGTH_EMMC_CUST_SH
	bool "SHARP eMMC customization for drive strength"
	depends on MMC_EMMC_CUST_SH
	default n

config HS400_DRIVER_TYPE_EMMC_CUST_SH
	int "SHARP eMMC customization for driver type in HS400 mode"
	depends on DRIVESTRENGTH_EMMC_CUST_SH
	range 0 4
	default 0

config HS200_DRIVER_TYPE_EMMC_CUST_SH
	int "SHARP eMMC customization for driver type in HS200 mode"
	depends on DRIVESTRENGTH_EMMC_CUST_SH
	range 0 4
	default 0

config HS_DRIVER_TYPE_EMMC_CUST_SH
	int "SHARP eMMC customization for driver type in HS mode"
	depends on DRIVESTRENGTH_EMMC_CUST_SH
	range 0 4
	default 0

config FFU_EMMC_CUST_SH
	bool "SHARP eMMC customization for ffu"
	depends on MMC_EMMC_CUST_SH
	default n

config INVALIDATE_CACHE_CTRL_EMMC_CUST_SH
	bool "SHARP eMMC customization for invalidating cache control"
	depends on MMC_EMMC_CUST_SH
	default n

config HS_STATUS_EMMC_CUST_SH
	bool "SHARP eMMC customization for shdiag command to tuning"
	depends on MMC_EMMC_CUST_SH
	default n

config ERR_DETECT_EMMC_CUST_SH
	bool "SHARP eMMC customization for error detect"
	depends on MMC_EMMC_CUST_SH
	default n

config HS200_TUNING_EMMC_CUST_SH
	bool "SHARP eMMC customization for HS200 tuning"
	depends on MMC_EMMC_CUST_SH
	default n

config HS200_TUNING_RETRY_EMMC_CUST_SH
	bool "SHARP eMMC customization for retry in HS200 tuning"
	depends on HS200_TUNING_EMMC_CUST_SH
	default n

config HS200_ALL_PHASE_PASS_EMMC_CUST_SH
	bool "SHARP eMMC customization for all phase pass in tuning"
	depends on HS200_TUNING_EMMC_CUST_SH
	default n

config DEFAULT_PHASE_TYPE_EMMC_CUST_SH
	int "SHARP eMMC customization for default phase type"
	depends on HS200_ALL_PHASE_PASS_EMMC_CUST_SH
	range 0 15
	default 10

config HS400_TUNING_EMMC_CUST_SH
	bool "SHARP eMMC customization for HS400 tuning"
	depends on HS200_TUNING_EMMC_CUST_SH
	default n
	help
	 Do not set 'Y' if the host or device don't support HS400

config PM_EMMC_CUST_SH
	bool "SHARP eMMC customization for power management"
	depends on MMC_EMMC_CUST_SH
	default n

config PROTECT_MULTIPLE_CLOCK_OFF_EMMC_CUST_SH
	bool "SHARP eMMC customization for duplication of clock off sequence"
	depends on PM_EMMC_CUST_SH
	default n

config MMC_BUG_FIX_CUST_SH
	bool "SHARP eMMC customization for bug fix"
	depends on MMC_EMMC_CUST_SH
	default n

config TIMEOUTCTRL_EMMC_CUST_SH
	bool "SHARP eMMC customization for timeout control"
	depends on MMC_EMMC_CUST_SH
	default n

config KEEP_CLK_SCALING_PARAM_EMMC_CUST_SH
	bool "SHARP eMMC customization for keep parameters of clk scaling"
	depends on MMC_EMMC_CUST_SH
	default n

config DISCARD_EMMC_CUST_SH
	bool "SHARP eMMC customization for discard"
	depends on MMC_EMMC_CUST_SH
	default n

config CLKGATE_TIME_EMMC_CUST_SH
	bool "SHARP eMMC customization for clkgate time"
	depends on MMC_EMMC_CUST_SH
	default n

config RW_PROTECT_EMMC_CUST_SH
	bool "SHARP eMMC customization for read/write protect"
	depends on MMC_EMMC_CUST_SH
	default n

config MAX_PACKED_SECTORS_EMMC_CUST_SH
	int "SHARP eMMC customization for maximum sectors in a packed request"
	depends on MMC_EMMC_CUST_SH
	default 8192

config ERR_RETRY_MMC_CUST_SH
	bool "SHARP MMC customization for error retry"
	depends on MMC_CUST_SH
	default n

config MMC_SD_CUST_SH
	bool "SHARP SD driver customized"
	depends on MMC_CUST_SH
	default n

config MMC_SD_ENABLE_ONLY_DDR50_CUST_SH
	bool "SHARP SD driver customized for enable DDR50 mode"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SD_EXPAND_RAS_CUST_SH
	bool "SHARP SD driver customized for expand a read ahead size"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SD_ECO_MODE_CUST_SH
	bool "SHARP SD driver customized for Reduce the noise interference between SD access and DTV"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SD_PENDING_RESUME_CUST_SH
	bool "SHARP SD driver customized for pending resume"
	depends on MMC_SD_CUST_SH
	default n

config MMC_SD_BATTLOG_CUST_SH
	bool "SHARP SD driver customized for logging"
	depends on MMC_SD_CUST_SH
	default n

config CLOCKTIME_MMC_CUST_SH
	bool "SHARP MMC clocktime customized"
	depends on MMC_CUST_SH
	default n

if MMC

source "drivers/mmc/core/Kconfig"

source "drivers/mmc/card/Kconfig"

source "drivers/mmc/host/Kconfig"

endif # MMC
